<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title>{% block title %}Hello{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/grid.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/menu.css') }}" />

        <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('js/menu.js') }}"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <header id="topmenu">
            <nav id='cssmenu'>
                <div class="logo"><img src="{{ asset('images/Logo.png') }}"/></div>
                <div id="head-mobile"></div>
                <div class="button"></div>
                <ul>
                    <li><a href='#'>About</a></li>
                    <li><a href='#'>BlaBla</a></li>
                    <li><a href='#'>Filtre</a>
                        <ul>
                            <li><a href='#'>Categorie</a>
                                <ul>
                                    <li><a href='#'>Evenimente</a></li>
                                    <li><a href='#'>Reparatii / Curatenie</a></li>
                                    <li><a href='#'>Idei</a></li>
                                </ul>
                            </li>
                            <li><a href='#'>Complexitate</a>
                                <ul>
                                    <li><a href='#'>5 stele</a></li>
                                    <li><a href='#'>4 stele</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href='#'>Contact</a></li>
                    {% if app.user %}
                        <li class="username"><a href='#'>{{ user.username }}</a>
                            <ul>
                                <li><a href='{{ path('logout') }}'>Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="username"><a href='{{ path('login') }}'>Login</a></li>
                        <li><a href='{{ path('user_registration') }}'>Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <div id="">
            {% block body %}{% endblock %}
        </div>


        {% block javascripts %}{% endblock %}
    </body>
</html>
